#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 2px solid rgb(101, 188, 225);
    border-radius: 5px;
    width: 100vw;
    min-height: 85vh;
}

#chat {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(71, 153, 211);
    border-radius: 5px;
    width: 85vw;
    min-height: 35vh;
    margin: 20px auto 20px auto;
    padding: 15px;

}

.phrase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 30px;
    width: 80vw;

    padding: 5px;
}

#textarea {
    width: 85vw;
    margin: 20px auto 20px auto;
    outline: none;
    border: 2px solid rgb(108, 108, 188);
    border-radius: 5px;
    padding: 25px;

}

#submit {
    width: 70vw;
    height: 40px;
    margin: auto;
    color: white;
    background-color: coral;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment {
    border-bottom: 1px solid gray;
    max-width: 80vw;
    padding: 8px;
   
}